
// About

.about.desktop {
  max-width: $screen-sm;

  img {
    width: 100%;
  }

  .summary {
    padding: 0 20px;
  }
}

.about.mobile {
  margin: 0;
  @include fill();

  div[class*="col-"] {
    @include fill();
  }

  .portrait {
    @include fill();
    @include bg-fill();
  }

  .summary {
    max-height: 180px;
    overflow: scroll;
    margin: 0;
    padding: 10px 15px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media only screen and (min-width: $screen-xs + 1) {

  .about.mobile {
    display: none;
  }
}

@media only screen and (max-width: $screen-xs) {

  .about.desktop {
    display: none;
  }
}