
// Contact

.contact {
  @include fill();

  div[class*="col-"] {
    height: 100%;
    position: relative;
  }

  .portrait {
    @include fill();
    @include bg-fill();
  }

  .details {
    padding-top: 50px;
  }
}

.desktop .contact {

  .details {
    background-image: url('/images/contact-bg.jpg');
    background-position: 0 bottom;
    background-repeat: no-repeat; 
  }
}

.mobile .contact {

  .details {
    display: block;
    margin: 0;
    padding: 10px 15px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    left: 0;
    right: 0;
  }
}