
// Gardens

.gardens {
  max-width: $screen-md;

  .thumb {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    background-size: 100% auto;
    background-position: center;

    img {
      width: 100%;
    }
  }
}