
// Garden

.garden-container {
  position: relative;
  min-height: 300px;
  width: 100%;
  height: 100%;
}

.row.selected {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 160px;
  left: 0;

  div[class*="col-"] {
    @include fill();
  }

  .full {
    overflow: hidden;
    @include fill();
    @include bg-fill();

    img {
      height: 100%;
    }
  }

  .caption {
    font-size: 1.1em;
    line-height: 1.6em;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .caption-close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 8px 12px;
    top: 10px;
    right: 20px;
    margin-left: -40px;
  }
}

.thumbs {
  position: absolute;
  margin: 0;
  right: 0;
  left: 0;
  overflow: hidden;

  .thumb-container {
    padding: 10px 0;
  }

  .thumb {
    display: block;
    float: left;
    margin-right: 10px;
    @include bg-fill();
    cursor: pointer;
  }
}

// Add a scrollbar for smaller screens

@media only screen and (max-width: 1130px) {

  .thumbs {
    overflow-x: scroll;
  }
}

.row.details {
  font-family: 'Julius Sans One', sans-serif;
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0;
  font-size: 1.1em;
  text-transform: uppercase;

  .arrow-up {
    display: inline-block;
    width: 13px;
    height: 11px;
    background-image: url('/images/arrow-up.png');
    background-size: 100%;
    margin-top: 2px;
    margin-right: 12px;
  }

  .grid {
    margin-right: 16px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('/images/grid.png');
    background-size: 100%;
    opacity: 0.4;
  }

  .arrow-right {
    display: inline-block;
    width: 20px;
    height: 11px;
    background-image: url('/images/arrow-right.png');
    background-size: 100%;
    margin-left: 12px;
  }
}

.mobile .row.selected .caption {
  width: 75%;
}

@media only screen and (max-width: $screen-sm) {

  .gallery-desktop {
    display: none;
  }

  .full img {
    display: none;
  }

  .next-label {
    display: none;
  }

  .garden-container {

    .row.selected {
      bottom: 110px;
    }

    .caption {
      width: 66%;
      padding: 50px 30px 15px 20px;
    }

    .thumbs {
      height: 90px;
      bottom: 20px;

      .thumb {
        width: 70px;
        height: 70px;
      }
    }

    .row.details {
      height: 20px;
    }
  }
}

@media only screen and (min-width: $screen-sm) {

  .gallery-mobile {
    display: none;
  }

  .full {
    background-image: none !important;
  }

  .garden-container {

    .row.selected {
      bottom: 160px;
    }

    .caption {
      width: 33%;
      padding: 50px 60px 15px 40px;
    }

    .thumbs {
      height: 120px;
      bottom: 40px;

      .thumb {
        width: 100px;
        height: 100px;
      }
    }

    .row.details {
      height: 40px;

      div[class*="col-"] {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}