
// Header

.desktop .header {
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;

  h1, nav {
    display: inline-block;
  }

  h1 {
    margin-right: 20px;
  }

  nav {

    a {
      display: inline-block;
      padding: 10px 20px;
    }
  }
}

.mobile .header {
  font-family: 'Julius Sans One', sans-serif;

  .brand,
  .toggle {
    display: block;
  }

  .brand {
    font-size: 1.2em;
    padding: 20px 0 10px 0;
  }

  .toggle {
    font-size: 0.9em;
    padding: 23px 0 10px 0;
  }

  .menu {
    z-index: 10;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background-color: white;
    padding: 0;

    a {
      display: block;
      width: 100%;
      padding: 10px 15px;
      border-bottom: 1px solid #eee;
    }
  }
}