
// Header

.header.desktop {
  font-family: 'Julius Sans One', sans-serif;
  position: absolute;

  h1 {
    margin-right: 15px;
  }

  h1, nav {
    display: block;
    float: left;
  }

  nav {
    display: block;
    float: left;

    a {
      display: inline-block;

      &.selected {
        color: #bbb;
      }
    }
  }
}

.header.mobile {
  font-family: 'Julius Sans One', sans-serif;

  .brand,
  .toggle {
    display: block;
  }

  .brand {
    font-size: 1.2em;
    padding: 20px 0 10px 0;
  }

  .toggle {
    position: relative;
    font-size: 0.9em;
    padding: 23px 0 10px 0;

    span {
      position: absolute;
      right: 0;
    }
  }

  .menu {
    z-index: 10;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: white;
    padding: 0;
    border-top: 1px solid #eee;

    a {
      display: block;
      width: 100%;
      padding: 10px 15px;
      border-bottom: 1px solid #eee;
    }
  }
}

@media only screen and (min-width: $screen-xs + 1) {

  .header.mobile {
    display: none;
  }
}

@media only screen and (max-width: $screen-xs) {

  .header.desktop {
    display: none;
  }
}

@media only screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
  
  .header.desktop {
    top: 0;
    left: $screen-xs-gutter;
    right: $screen-xs-gutter;

    h1 {
      font-size: 20px;
    }

    nav {
      margin-top: 19px;

      a {
        font-size: 0.9em;
        padding: 5px 3px;
      }
    }
  }
}

@media only screen and (min-width: $screen-sm) and (max-width: $screen-md) {
  
  .header.desktop {
    top: 10px;
    left: $screen-sm-gutter;
    right: $screen-sm-gutter;

    h1 {
      font-size: 28px;
    }

    nav {
      margin-top: 22px;

      a {
        font-size: 1em;
        padding: 5px 5px;
      }
    }
  }
}

@media only screen and (min-width: $screen-md) and (max-width: $screen-lg) {
  
  .header.desktop {
    top: 30px;
    left: $screen-md-gutter;
    right: $screen-md-gutter;

    h1 {
      font-size: 42px;
    }

    nav {
      margin-top: 25px;

      a {
        font-size: 1.1em;
        padding: 10px 8px;
      }
    }
  }
}

@media only screen and (min-width: $screen-lg) {
  
  .header.desktop {
    top: 30px;
    left: $screen-lg-gutter;
    right: $screen-lg-gutter;

    h1 {
      font-size: 42px;
    }

    nav {
      margin-top: 25px;

      a {
        font-size: 1.1em;
        padding: 10px 8px;
      }
    }
  }
}