
// Home

.row.home {
  margin: 0;
  @include fill();

  div[class*="col-"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .feature {
    @include fill();
    @include bg-fill();
  }
}