
// Layout

.router-outlet {
  @include fill();

  .layout-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 800px;
  }
}

.content {
  position: absolute;
  top: 90px;
  right: 30px;
  bottom: 15px;
  left: 30px;
}

.desktop {

  .content {
    top: 90px;
  }
}

.mobile {

  .content {
    top: 60px;
  }
}