
// Layout

.router-outlet,
.layout-container {
  @include fill();
}

.content {
  position: absolute;
  top: 90px;
  right: 30px;
  bottom: 15px;
  left: 30px;
}

.desktop {

  .content {
    top: 90px;
  }
}

.mobile {

  .content {
    top: 60px;
  }
}