
// Site

@import 'variables';
@import 'typography';
@import 'mixins';
@import 'animations';
@import 'layout';
@import 'header';
@import 'home';
@import 'gardens';
@import 'garden';
@import 'about';
@import 'press';
@import 'contact';

a {
  color: black;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: black;
    text-decoration: none;
  }
}