
// Contact

.contact {

  .portrait {
    background-position: center;
    background-size: 100% auto;
    height: 100%;
    background-repeat: no-repeat;
  }

  .details {
    margin-top: 50px;
  }
}