<div class="row gallery">
  <div class="col-md-12 selected" fill-window-height padding="300">
    <div class="caption" ng-show="garden.captionOpen">
      <h3>{{garden.selected.name}}</h3>
      <p>{{garden.selected.description}}</p>
      <a ng-click="garden.closeCaption()" class="close">X</a>
    </div>
    <div class="full" style="background-image: url(/uploads/gardens/{{garden.selected.image}})"></div>
  </div>
  <div class="col-md-12">
    <nav>
      <a ng-repeat="image in garden.garden.images" class="thumb" style="background-image: url(/uploads/gardens/thumbnails/{{image.image}})" ng-click="garden.select(image)"></a>
    </nav>
  </div>
  <div class="col-md-6 garden-title">
    <span>{{garden.garden.name}}</span>
  </div>
  <div class="col-md-6 text-right garden-next">
    <a ui-sref="default.garden({ gardenSlug: garden.nextSlug })">Next Garden >></a>
  </div>
</div>