<div class="container-fluid">
  <div class="row header">
    <div class="col-md-12">
      <h1><a ui-sref="default.home">Bliss Garden Design</a></h1>
      <nav>
        <a ui-sref="default.gardens">Gardens</a>
        <a ui-sref="default.about">About</a>
        <a ui-sref="default.press">Press</a>
        <a ui-sref="default.contact">Contact</a>
        <a ui-sref="default.houzz">Houzz</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 transition-container">
      <ui-view></ui-view>
    </div>
  </div>
</div>