<div class="row about desktop">
  <div class="col-md-4 col-xs-4">
    <img ng-src="/uploads/pages/original/{{page.images[0].image}}">
  </div>
  <div class="col-md-6 col-xs-8">
    <div class="summary">
      <p ng-bind-html="page.content"></p>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="about mobile">
  <div class="portrait" style="background-image: url(/uploads/pages/original/{{page.images[0].image}});"></div>
  <p center-vertical class="summary" ng-bind-html="page.content"></p>
</div>