<div class="garden-container">
  <div class="row selected">
    <div class="col-md-12">
      <div class="full fade" ng-show="garden.current===$index" ng-repeat="image in garden.garden.images track by $index" style="background-image: url({{garden.imagePath}}{{image.image}})">
      </div>
      <div class="caption fade" ng-show="garden.captionOpen">
        <p>{{garden.garden.description}}</p>
      </div>
      <a ng-click="garden.closeCaption()" class="caption-close fade" ng-show="garden.captionOpen">X</a>
    </div>
  </div>
  <div class="thumbs">
    <div class="thumb-container">
      <nav style="width: {{garden.garden.images.length * 110}}px;">
        <a ng-repeat="image in garden.garden.images track by $index" class="thumb" style="background-image: url(/uploads/gardens/thumbnail/{{image.thumbnail}})" ng-click="garden.select($index)"></a>
      </nav>
    </div>
  </div>
  <div class="row details">
    <div class="col-md-6 col-sm-10 col-xs-9 garden-title">
      <a href="#" ng-click="garden.openCaption()"><span class="arrow-up"></span> {{garden.garden.name}}</a>
    </div>
    <div class="col-md-6 col-sm-2 col-xs-3 text-right garden-next">
      <a title="back" class="grid" ui-sref="default.gardens"></a>
      <a ng-if="garden.garden.next" ui-sref="default.garden({ slug: garden.garden.next.slug })"><span class="next-label">Next Garden</span> <span class="arrow-right"></span></a>
    </div>
  </div>
</div>